<div class="container-lg container-body py-5 px-4">
  <div class="card-group">
    <%= render partial: "users/user_card", locals: {user: current_user} %>
    <div class="col-xl-8">
      <section class="my-4">
        <h2>Welcome back, <%= current_user.first_name %>! </h2>
        <h4>Here's what your friends are up to...</h4>
        <%= render partial: "posts/post_block", locals: {post: dashboard_activity_posts(current_user)} %>
      </section>
    </div>
  </div>
</div>