<div class="container-lg container-body py-5 px-4">
  <div class="row my-5">
    <h2>All Users</h2>
  </div>
  <div class="card-group">
  <% @users.each do |user| %>
  <div class="col-xl-4">
    <!-- Card -->
    <div class="card card-cascade wider reverse">

      <!-- Card image -->
      <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">

        <!-- Title -->
        <h4 class="card-title"><strong><%= link_to user.username, user_path(user), style: "color: #2e2e2e" %></strong></h4>
        <p class="card-text">
          <strong>Followers: </strong><%= user.followers.count %> <strong>Following: </strong><%= user.following.count %>
        </p>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-1">About</h6>
        <!-- Text -->
        <p class="card-text">
          <%= user.bio %>
        </p>

        <!-- Linkedin -->
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

      </div>

    </div>
    <!-- Card -->
  </div>
  <% end %>
  </div>
</div>