<div class="container container-body py-5 px-4">
  <div class="card-group">
    <%= render partial: "users/user_card", locals: {user: @user} %>
    <div class="col-xl-8">
      <section class="my-4">
        <!-- Card header -->
        <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
          <p class="mr-4 mb-0">Activity Feed | <a href="#">Blogs</a> | <a href="#">Replies</a></p>
          <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item"><a href="" class="mr-3"><i class="fas fa-envelope mr-1"></i>Send message</a></li>
            <li class="list-inline-item"><a href="" class="mr-3"><i class="fas fa-at mr-1"></i>Follow</a></li>
          </ul>
        </div>
        <%= render partial: "posts/post_block", locals: {post: @user.posts} %>
      </section>
    </div>
  </div>
</div>

