<div class="container-lg container-body py-5 px-4">
  <div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Speek, a social network</strong></h2>
        <p class="mx-5 mb-5">Speek is a social platform where you can share anything! 
        </p>
        <a class="btn btn-outline-white btn-md" href="/register"><i class="fas fa-clone left"></i> Join now!</a>
      </div>
    </div>
  </div>

  <div class="row mb-4">
      <div class="col-md-4">
        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <%= image_tag "create-profile.png", class: "card-img-top card-images" %>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Create a Profile</a></h4>
            <!-- Text -->
            <p class="card-text">Create your own profile and share your short bio and links! Follow your friends and other Speek members!</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col-md-4">
        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <%= image_tag "create-posts.png", class: "card-img-top card-images"  %>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Share Posts</a></h4>
            <!-- Text -->
            <p class="card-text">Write short microblogs or full-on blog posts/articles! All posts can be formatted with markdown!</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col-md-4">
        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <%= image_tag "create-communities.png", class: "card-img-top card-images"  %>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Communities</a></h4>
            <!-- Text -->
            <p class="card-text">Speek allows you to create or join user created communities. Find one you like, or make your own!</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>

          </div>
        </div>
        <!-- Card -->
      </div>
  </div>

    <h1>Welcome to Speek!</h1>
    <p>The homepage is currently being built. In the mean time you may register, post, and join some communities!</p>
</div>

