<div class="container-lg container-body py-5 px-4">
  <% flash.each do |name, msg| %>
  <%= content_tag :div, class: "note note-#{name} fade show mb-4" do %>
    <%= msg %>
  <% end %>  
<% end %>
  <div class="card-group">
    <%= render partial: "communities/sidebar", locals: {community: @community} %>
      <div class="col-xl-8">
        <section class="my-4">
          <!-- Card header -->
          <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
            <p class="mr-4 mb-0">Activity Feed </p>
            <ul class="list-unstyled list-inline mb-0">
              
            </ul>
          </div>
        <%= render partial: "posts/post_block", locals: {post: @community.posts} %>
      </div>
    </div>
  </div>
</div>